/* TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
  .form-container {
    width: 80%;
    flex-direction: column; 
    gap: 15px;
    margin-bottom: 50px;
  }

  form {
    width: 100%;
  }

  #title {
    font-size: 2.2rem;
  }

  .form-image {
    display: block; 
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  main {
    height: auto; 
  }

  .form-container {
    flex-direction: column; 
    width: 85%;
    padding: 16px;
    margin-bottom: 40px;
  }

  .form-image {
    display: none !important; 
  }

  .paragraph {
    font-size: 1rem;
  }

  form {
    width: 100%;
  }

  .personal-info,
  .password,
  .option-info {
    flex-direction: column; 
    gap: 5px;
  }

  #title {
    font-size: 1.4rem;
    padding-top: 20px;
  }

  button {
    padding: 6px;
    font-size: 0.8rem;

  }
}
