@media (max-width: 1024px) {
   body {
    background-attachment: scroll; 
  }
  
  .form-container {
    width: 80%;
    gap: 15px;
  }

  form {
    width: 100%;
  }

  #title {
    font-size: 2.2rem;
  }
}

/*MOBILE*/
@media (max-width: 768px) {
   body {
    background-attachment: scroll; 
  }
  
    main {
    height: auto; 
  }

  .form-container {
    flex-direction: column; 
    width: 70%;
    padding: 16px;
    margin-bottom: 40px;
  }

  .form-image {
    display: none; 
  }

  .paragraph {
    font-size: 1rem;
  }

  form {
    width: 100%;
  }

  .personal-info,
  .password,
  .option-info {
    flex-direction: column; 
    gap: 5px;
  }

  #title {
    font-size: 1.5rem;
    padding-top: 20px;
  }
}